{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "$": true,
    "_": true,
    "moment": true,
    "Observatory": true
  },
  "rules": {
    "no-param-reassign": 0
  }
}